{% extends "base.html" %}

{% block content %}
<style>
  body {
  background-color: #290c3d; /* fallback color */
  background-image: url("{{ url_for('static', filename='bg.jpg') }}");
  background-repeat: no-repeat;
  background-size: cover;   /* cover full screen */
  font-family: 'Cinzel', serif;
}

  .setpass-wrapper {
    height: 100vh; /* full height */
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .card {
    background: rgba(108, 102, 20, 0.7); /* translucent dark */
    color: #fff; 
    border-radius: 15px;
    border: 3px solid #e6c200; /* royal gold border */
    box-shadow: 0 0 20px rgba(230, 194, 0, 0.5);
  }

  .card h4 {
    color: #e6c200;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 25px;
  }

  .form-label {
    color: #fff;
    font-weight: 600;
  }

  .form-control {
    background: rgba(255, 255, 255, 0.1);
    border: 1px solid #e6c200;
    color: #fff;
  }
  .form-control:focus {
    background: rgba(255, 255, 255, 0.15);
    border-color: #ffd700;
    box-shadow: 0 0 10px rgba(230, 194, 0, 0.7);
    color: #fff;
  }

  .btn-success {
    background: linear-gradient(135deg, #ffd700, #e6c200);
    border: none;
    color: #451c55;
    font-weight: 600;
    transition: 0.3s ease;
  }

  .btn-success:hover {
    background: linear-gradient(135deg, #e6c200, #ffd700);
    box-shadow: 0 0 15px rgba(230, 194, 0, 0.9);
    transform: scale(1.05);
  }
</style>

<div class="setpass-wrapper">
  <div class="col-md-5 col-lg-6">
    <div class="card shadow-lg">
      <div class="card-body p-5">
        <h4>Set Your Password  {{ user.name }}</h4>
        <form method="post">
          <div class="mb-3">
            <label class="form-label">New Password</label>
            <input type="password" name="password" class="form-control" required>
          </div>
          <div class="mb-3">
            <label class="form-label">Confirm Password</label>
            <input type="password" name="confirm_password" class="form-control" required>
          </div>
          <div class="d-grid">
            <button class="btn btn-success">Set Password & Continue</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
